/** 
 * ksensetech
 * @see   : https://ksensetech.com/knack/developers
 * author   : Ksensetech Developments
 * author   : Kelson Erwin
 * author   : Gianpiere Ramos
 * created  : 14-06-2019
 * update   : 14-06-2019
 */

 .table-navigation .row-focus{
  background-color: #b9dfff !important;
 }

 .table-navigation .row-focus .cell-selected{
  background: #9bc5e8 !important;
 }